body {
    font-family: Roboto, sans-serif, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.grid_container {
    display: grid;
    grid-template-areas:
        "left_dashboard upper_header"
        "left_dashboard right_container";
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 3.5fr auto;
    height: 100vh;
    width: 100vw;
}

.left_dashboard {
    grid-area: left_dashboard;
    color: white;
    background-color: rgb(100, 155, 255);
    text-align: left;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 0.8fr 3fr;
    gap: -20px;
    align-items: center;
    justify-items: first baseline;
    font-size: 14px;
    font-weight: 500;
    overflow-y: auto;
    padding-left: 20px;
    
}



.left_dashboard a {
    text-decoration: none;
    color: white;
}

.left_dashboard a:hover {
    color: black;
}

.left_dashboard svg:hover {
    fill: white;
}



.left-dashboard svg {
    width: 10px;
    height: 10px;
    fill: white;
}

.upper_header {
    grid-area: upper_header;
    background-color: white;
    color: black;
    padding: 5px;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.2fr 0.08fr 0.1fr;
    grid-template-rows: 1fr 50%;
    align-items: center;   
    justify-items: center; 
    
}

#search_bar {
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px;
    gap: 5px;
    width: 100%;
}

.upper_header svg:hover {
    fill: rgb(50, 105, 255);
    cursor: pointer;
}

.upper_header img:hover {
    cursor: pointer;
    border-radius: 30%;
    background-color: gold;
}

.upper_header button {
    background-color: rgb(100, 155, 255);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 5px;
    width: 100px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.upper_header button:hover {
    background-color: rgb(50, 105, 255);
    color: white;
}

.right_container {
    grid-area: right_container;
    background-color: lightgrey;
    border-top:  rem solid gray;
    border-top-style: outset;
    color: black;
    display: grid;
    padding: 20px;
}


